# GIS / generierte Outputs
MCA/Maps/*.eps
MCA/Maps/*.pdf
MCA/Maps/*.png

MCA/Data/*.shp
MCA/Data/*.dbf
MCA/Data/*.shx
MCA/Data/*.prj
MCA/Data/*.cpg
MCA/Data/*.qmd

Cost_analysis/Maps/*.eps
Cost_analysis/Maps/*.pdf
Cost_analysis/Maps/*.png

Cost_analysis/Data/*.shp
Cost_analysis/Data/*.dbf
Cost_analysis/Data/*.shx
Cost_analysis/Data/*.prj
Cost_analysis/Data/*.cpg
Cost_analysis/Data/*.qmd

# große Ergebnisse
*.tif
*.geojson